<div class="container-fluid">
  <div
    class="spinner-border"
    role="status"
    *ngIf="estaCargando">
  </div>

  <div class="row" *ngIf="esAdmin">
    <div class="col-sm-4">
      <button
        class="btn btn-primary btn-block"
        (click)="abrirModalCrearSala()"
      >
        <i class="fa fa-plus"></i>
        AGREGAR SALA
      </button>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!existenSalas; else mostrarSalas">
      <div class="col-sm-12">
        No existen salas de reunión
      </div>
    </div>

    <ng-template #mostrarSalas>
      <div
        class="col-sm-3"
        *ngFor="let sala of salas">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              {{sala.nombre}}
            </div>

            <p class="card-text">
              {{sala.descripcion}}
            </p>

            <div
              class="btn btn-primary btn-block"
              (click)="irASala(sala.id)">
              IR A SALA
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
