.separacion-top-1 {
  padding-top: 1rem;
}

.separacion-top-2 {
  padding-top: 2rem;
}

.separacion-top-3 {
  padding-top: 3rem;
}

.separacion-top-4 {
  padding-top: 4rem;
}

.separacion-top-5 {
  padding-top: 5rem;
}

.separacion-bottom-1 {
  padding-bottom: 1rem;
}

.separacion-bottom-2 {
  padding-bottom: 2rem;
}

.separacion-bottom-3 {
  padding-bottom: 3rem;
}

.separacion-bottom-4 {
  padding-bottom: 4rem;
}

.separacion-bottom-5 {
  padding-bottom: 5rem;
}
