<div class="container-fluid">
  <div class="row separacion-top-1">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <img class="img-fluid mx-auto d-block" src="../../../assets/imagenes/404-error.svg" alt="404-error">
    </div>
  </div>
  <div class="row separacion-top-1">
    <div class="col-sm-2"></div>

    <div class="col-sm-4">
      <button
        class="btn btn-outline-primary btn-block"
        (click)="irAMenuPrincipal()">
        MENÚ PRINCIPAL
      </button>
    </div>

    <div class="col-sm-4">
      <button
        class="btn btn-outline-primary btn-block"
        (click)="irARutaAnterior()">
        REGRESAR
      </button>
    </div>
  </div>
</div>
