<form novalidate
      autocomplete="off"
      [formGroup]="formularioUsuario"
>
  <fieldset class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field>
          <mat-label>Nombre</mat-label>

          <input
            matInput
            placeholder="Ingrese su nombre de usuario"
            formControlName="nombre"
            required>

          <mat-error *ngIf="mensajesError.nombre.length > 0">
            <div *ngFor="let mensaje of mensajesError.nombre">{{mensaje}}</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12">
        <mat-form-field>
          <mat-label>Contraseña</mat-label>

          <input
            matInput
            placeholder="Ingrese su contraseña"
            type="password"
            formControlName="password"
            required>

          <mat-error *ngIf="mensajesError.password.length > 0">
            <div *ngFor="let mensaje of mensajesError.password">{{mensaje}}</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="esFormularioRegistro" class="col-sm-12">
        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>

          <input
            matInput
            placeholder="Vuelva a ingresar su contraseña"
            type="password"
            formControlName="confirmarPassword"
            required>

          <mat-error *ngIf="mensajesError.confirmarPassword.length > 0">
            <div *ngFor="let mensaje of mensajesError.confirmarPassword">{{mensaje}}</div>
          </mat-error>

          <mat-error *ngIf="formularioUsuario.controls['confirmarPassword'].hasError('noCoinciden')">
            <div>La contraseña no coincide</div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </fieldset>
  <ng-content></ng-content>
</form>

