<div class="row">
  <div class="col-sm-2">
    <app-paleta></app-paleta>

    <div class="btn btn-success btn-block">
      <fa-icon [icon]="iconoLevantarMano"></fa-icon>
      Pedir la palabra
    </div>

    <div class="btn btn-info btn-block">
      <fa-icon [icon]="icononoCompartirPantalla"></fa-icon>
      Compartir pantalla
    </div>

    <div class="btn btn-danger btn-block">
      Cancelar
    </div>
  </div>

  <div class="col-sm-10">
    <app-diagrama-editable></app-diagrama-editable>
  </div>
</div>
