<div class="container-fluid">
  <h1>
    Sala de reunión: {{nombreSala}}
  </h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">
          Inicio
        </a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/listar-salas']" routerLinkActive="router-link-active">
          Lista de salas
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Sala de reunión
      </li>
    </ol>
  </nav>

  <div *ngIf="esAdmin; else mostrarPantallaUsuario">
    <app-pantalla-interactiva-administrador
      [idSala]="idSala"
    ></app-pantalla-interactiva-administrador>
  </div>
  <ng-template #mostrarPantallaUsuario>
    <app-pantalla-interactiva-usuario
      [idSala]="idSala"
    ></app-pantalla-interactiva-usuario>
  </ng-template>
</div>
