#diagrama-global {
  width: 100%;
  height: 550px;
  background-color: #ffffff;
}

#diagrama-editable {
  width: 100%;
  height: 550px;
  background-color: #ffffff;
}

#diagrama {
  width: 100%;
  height: 550px;
  background-color: #ffffff;
}

#contenedor {
  display: flex;
  background-color: #555;
}

#area-paleta {
  width: 220px;
  height: 550px;
}

#paleta {
  height: 550px;
  width: 100%;
}

#overview {
  height: 200px;
  width: 200px;
}
