#login {
  display: flex;
  justify-content: center;
  align-items: center
}

#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

#diagrama-global {
  background-color: #ffffff;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

#diagrama-editable {
  background-color: #ffffff;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

#diagrama {
  width: 100%;
  height: 550px;
  background-color: #ffffff;
}

#contenedor {
  display: flex;
  background-color: #555;
}

#area-paleta {
  width: 100px;
  height: 550px;
}

#paleta {
  background-color: #555;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

#overview {
  height: 200px;
  width: 200px;
}

#spinner {
  left: 50%;
  top: 50%;
  position: absolute;
}
